nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 15px;
  background-color: whitesmoke;
}

#logo {
  font-family: "Dancing Script", cursive;
}

#logo:hover {
  cursor: pointer;
}

li {
  display: inline;
  margin: 15px;
}

a {
  color: rgb(94, 94, 94);
  text-decoration: none;
}
a:hover {
  color: black;
}

button {
  padding: 8px;
  background-color: black;
  color: whitesmoke;
  border: none;
}

button:hover {
  background-color: grey;
  cursor: pointer;
}

@media screen and (max-width: 321px) {
  #logo {
    display: none;
  }
}
