@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Krona+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.segment {
  padding: 25px;
}
